<template>
  <div class="home__wrapper">
    <div class="home__logo">
      <img src="../assets/img/logo__menu.png" alt="" />
    </div>
    <div class="home__content" ref="home__content">
      <div class="neon--txt">
        <img src="../assets/img/home__header--txt.png" alt="" />
        <img src="../assets/img/ecg.png" alt="" />
        <img src="../assets/img/marketing.png" alt="" />
      </div>
      <span>
        <p>
          <span> offers the most</span>
          <span class="match-txt professional"> professional </span>
        </p>

          <span class="and">and</span>
          <span class="match-txt baksoSapi creative"> creative</span>
          <span class="solutions">
            <span class="solutions2">solutions for <br> business </span>
            <span class="andmarketing">and marketing</span>
          </span>
        </p></span
      >
    </div>
    <div @click="$emit('scroll-bottom')" class="home__scroll">
      <div class="home__scroll--img">
        <img src="~/assets/img/scroll_down.svg" alt="" />
      </div>
      <div class="home__scroll--caption">
        <p>SCROLL DOWN</p>
        FOR MORE
      </div>
    </div>
  </div>
</template>
<script>
import Menu from "./Menu";
export default {
  components: {
    Menu,
  },
  head() {
    return {
      script: [
        {
          src:
            "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js",
        },
      ],
    };
  },
  mounted() {
    // if ($(window).width() >= 768) {
    //   $(".home__wrapper").on("wheel", function (e) {
    //     e.preventDefault();
    //     $("html, body")
    //       .stop(true)
    //       .animate({
    //         scrollTop:
    //           (e.originalEvent.deltaY > 0 ? "+=" : "-=") +
    //           $(window).height() +
    //           "px",
    //       });
    //   });
    // }
    //mouse
    if ($(window).width() >= 768) {
      $(".home__wrapper").mousemove(function (e) {
        parallaxIt(e, ".home__content", -100);
      });
    }
    function parallaxIt(e, target, movement) {
      var $this = $(".home__wrapper");
      var relX = e.pageX - $this.offset().left;
      var relY = e.pageY - $this.offset().top;
      TweenMax.to(target, 1, {
        x: ((relX - $this.width() / 2) / $this.width()) * movement,
        y: ((relY - $this.height() / 2) / $this.height()) * movement,
      });
    }
    //homepage animation
    const { home__content } = this.$refs;
    var tl = gsap.timeline();
    tl.to(".home__scroll", {
      duration: 1,
      ease: "back.in(1.7)",
      opacity: 1,
      delay: 4,
    });
    // $(".home__scroll").click(function (event) {
    //   event.preventDefault();
    //   var n = $(".home__wrapper").height();
    //   $("html, body").animate({ scrollTop: n }, 500);
    // });
    //scrolling
  },
  methods: {},
};
</script>
<style lang="scss">
@import "~/assets/styles/variables";
@import "~/assets/styles/reset";
@import "~/assets/styles/fonts";

body {
  transition: all 700ms ease;
  width: 100vw;
  max-width: 100vw;
}
.home__wrapper {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  scroll-snap-type: y mandatory;
  scroll-snap-align: center;
}
@media (max-width: $breakpoint-xs) {
  .menu--xs {
    display: block;
    position: fixed;
    left: calc(100% - 80px);
  }
  .home__wrapper {
    background-size: 200vh;
  }
}
.neon--txt {
  margin-left: 20px;
  img:nth-child(2),
  img:nth-child(3) {
    display: none;
  }
  height: 300px;
}
.home__logo {
  display: flex;
  justify-content: center;
  padding-top: 70px;
  padding-bottom: 0;
}
@media (max-width: $breakpoint-xs) {
  .home__wrapper {
    padding: $xs-padding;
    width: 100vw;
  }
  .home__logo {
    position: absolute;
    width: 50vw;
    margin-top: -30px;
    left: 25px;
    justify-content: flex-start;
    img {
      width: 150px !important;
      height: 40px;
    }
  }
  .neon--txt {
    padding: 0;
    height: 200px;
    margin-bottom: 20px;
    margin-top: -50px;
    margin-left: -20px;
    img:nth-child(1) {
      display: none;
    }
    img:nth-child(2),
    img:nth-child(3) {
      display: block;
      margin-top: -40px;
    }
    img:nth-child(2) {
      margin-left: 45px;
      margin-top: 0;
      margin-bottom: -50px;
    }
  }
}
@media (max-width: 330px) {
  .neon--txt {
    padding: 0;
    margin-top: 100px;
    margin-left: -10px;
    img:nth-child(1) {
      display: none;
    }
    img:nth-child(2),
    img:nth-child(3) {
      display: block;
      margin-top: -20px;
    }
  }
}
.home__content {
  width: 90%;
}
.home__content > span {
  width: 80%;
  display: block;
  font-family: bc-sklonar, sans-serif;
  color: #fff;
  letter-spacing: 2.4px;
  text-align-last: left;
  text-transform: uppercase;
  font-size: 56px;
  text-align: left;
}
@media (max-width: $breakpoint-xs) {
  .home__content {
    width: 100%;
    margin: 0;
    .professional {
      display: block;
      font-weight: 200 !important;
      margin-top: 15px;
      line-height: 40px;
      font-size: 35px !important;
    }
    .solutions {
      margin-top: 10px;
      display: block;
      width: 100%;
    }
    .solutions2 {
      font-size: 21px;
    }
    .andmarketing {
      font-size: 21px;
    }
  }
  .home__content > span {
    width: 90%;
    font-size: 21px;
    line-height: 30px;
    margin-top: 30px;
  }
  .match-txt {
    font-size: 29px !important;
    line-height: 33px;
    color: $orange !important;
  }
  .and {
    font-size: 21px;
  }
  .creative {
    font-weight: 400 !important;
    font-size: 35px !important;
  }
}
.match-txt {
  font-size: 60px;
  letter-spacing: 3px;
  color: $orange;
  font-weight: 200;
}
.home__scroll {
  margin-bottom: 40px;
  font-family: $bc, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  color: #fff;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  text-align: center;
  opacity: 0;
}
@media (max-width: $breakpoint-xs) {
  .home__scroll {
    display: none;
  }
}
</style>
