@import "~/assets/styles/variables";
.contact__wrapper{
  margin-bottom: 60px;
}
nav{
  padding: 0;
}
.header__wrapper{
  padding: 0 25px;
}
header,
main,
.bottom {
  padding: $xs-padding;
}
main{
  flex-direction: column;
  justify-content: center;
  margin-top: 0px;
  form{
    width: 100%;
  }
}
header {
  font-size: 18px;
  line-height: 26px;
  margin-top: 110px;
  span {
    font-size: 24px;
    letter-spacing: 1.1px;
    line-height: 26px;
  }
}
form{
  textarea{
    height: 70px;
  }
}
.bottom__form{
  font-size: 7px;
  align-items: center;
  button{
    font-size: 13px;
    margin-top: 20px;
  }
  .checkmark{
    width: 20px;
    height: 20px;
    
  }
  label {
    margin-top: 15px;
    margin-left: 25px;
  }
  .checkmark:after {
    left: 5px;
    top: 0px;  
  }
}
.bottom__form {
  input{
    margin-top: 20px;
    margin-right: -10px;
  }
}
.view__information {
  font-size: 7px;
  color: $dark;
  line-height: 9px;
  margin-top: 10px;
  p {
    text-decoration: underline;
  }
}
.contact > div {
  align-items: center;
  font-size: 16px;
  color: $dark;
  line-height: 18px;
}
.map__img img{
  width: 100%;
  margin: 10px 0 0 0;
}
.social {
  margin: 0 !important;
  div {
    display: flex;
    margin: 0;
    img {
      margin: 5px 10px 0 0;
    }
  }
}
.bottom {
  padding: $xs-padding;
  margin-top: 40px;
  margin-bottom: 50px;
  &__txt {
    width: 100%;
    font-size: 17px;
    line-height: 20px;
    color: $dark;
    p {
      display: inline-block;
      margin-bottom: 20px;
      font-size: 22px;
      letter-spacing: 0;
      line-height: 26px;
      color: $light;
      text-align: center;
      font-weight: 600;
    }
    img {
     display: none;
    }
  }
}

