@import 'reset';
@import 'variables';
@import 'fonts';

.baksoSapi {
  font-family: "BaksoSapi";
  color: #3C2057;
}

html {
  cursor: url("../img/cursor.png") 40 20, auto;
}

#__nuxt {
  width: 100vw;
  // height: calc(100vh + 5px);
}

.sm--orange {
  color: #FF732E;
  font-weight: 600;
  font-size: 28px;
}

.big--orange {
  color: #FF732E;
  font-weight: bold;
  font-size: 50px;
  text-transform: uppercase;
}

@media(max-width:$breakpoint-xs) {
  .sm--orange {
    font-size: 16px;
  }

  .big--orange {
    font-size: 18px;
  }
}
