@import "~/assets/styles/variables";
.barrow__wrapper{
  z-index: 2;
}
header,
section {
  padding: 0 25px;
}

nav {
  padding: 0 ;
}
.header__wrapper{
  padding: 0 25px;
}
header{
  font-size: 20px;
  margin:90px 0 20px 0;
}

.small__imgs{
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
  img{
    display: block;
    margin:20px ;
  }
}

.sliders{
  width: 100vw !important;
  padding-top:20px !important;
  padding: 0 !important;
  overflow: hidden;
  margin-bottom: 50px;
  .slide{
    margin:0 auto !important;
    font-size: 15px !important;
    width: 100% !important;
    line-height: 20px !important;
  }
  .slide__txt {
    width: 90%;
  }
  img{
    width:250px ;
   
  }
  #barber {
    width: 80%;
  }
  // #barber__img img {
  //   width: 150px !important;
  //   height: 150px !important;
  // }
}

