<template>
  <div id="aboutus__wrapper">
    <nav>
      <Header><template v-slot:header__name>About us</template></Header>
    </nav>
    <div class="anime__div"></div>
    <main>
      <section class="header__section parallax-bg" data-speed=".75">
        We are offering the most useful and
        <span class="big--orange">PROFESSIONAL SOLUTIONS </span> for business
        and marketing.
      </section>
      <img
        src="~/assets/img/aboutus/aboutus__p.png"
        alt=""
        class="notebook parallax-bg"
        data-speed=".1"
      />
      <section class="section__2 parallax-bg" data-speed=".55">
        <p>
          Our team includes PR specialists, copywriters, trainers, event
          managers, and photographers.
        </p>
        If you are looking for specialists from other branches, you can use the
        <span class="sm--orange">huge base</span>
        <span class="sm--orange"> our trusted contacts.</span>
      </section>
      <img
        src="~/assets/img/aboutus/aboutus__l.png"
        alt=""
        class="crayons parallax-bg"
        data-speed=".1"
      />
      <section class="section__3 parallax-bg" data-speed=".50">
        We, and so our clients, are opened to new opportunities, ideas, and
        inspirations <span class="sm--orange">every day.</span> Our team can
        help you to set up or expand your business overseas in countries
        <span class="sm--orange">like Dubai, Malta </span> or
        <span class="sm--orange">Hong kong</span>
      </section>
      <section class="section__4 parallax-bg" data-speed=".45">
        We will take care of all the paperwork and deliver a
        <span class="sm--orange">fully functional</span> company ready for you
        to start your business operations.
      </section>
      <section class="section__5 parallax-bg" data-speed=".40">
        We gained our professionalism during our years of experience in widely
        understood marketing. We build business relationships, creating a
        community, and recipients, we deliver
        <span class="sm--orange"> high-quality services </span> that are that
        are satisfying for each customer.
      </section>
    </main>
    <div class="team">
      <div class="team__img">
        <div class="team__description page page__xs" id="chairman">
          <img src="~/assets/img/aboutus/chairman.png" alt="" />
          <div>
            <span
              ><p>Wojciech</p>
              Gużda</span
            >
            <span class="about__tema__desc">Marketing Specialist Trainer</span>
          </div>
        </div>
        <div class="team__description page page__xs" id="proxy">
          <img src="~/assets/img/aboutus/proxy.png" alt="" />
          <div>
            <span
              ><p>Aleksandra</p>
              Niewiara</span
            >
            <span class="about__tema__desc"
              >Business sector specialist Events manager</span
            >
          </div>
        </div>
        <div class="team__description page page__xs" id="copywriter">
          <img src="~/assets/img/aboutus/copywriter.png" alt="" />
          <div>
            <span
              ><p>Rafał</p>
              Olejko</span
            >
            <span class="about__tema__desc">Content marketing specialist</span>
          </div>
        </div>
        <div class="team__description page page__xs" id="graphic">
          <img src="~/assets/img/aboutus/graphic.png" alt="" />
          <div>
            <span
              ><p>Artur</p>
              Jabłoński</span
            >
            <span class="about__tema__desc"
              >Promotional graphic content designer</span
            >
          </div>
        </div>
        <div class="team__description page page__xs" id="graphic2">
          <img src="~/assets/img/aboutus/graphic2.png" alt="" />
          <div>
            <span
              ><p>Sabina</p>
              Pawlak</span
            >
            <span class="about__tema__desc"
              >Promotional graphic content designer</span
            >
          </div>
        </div>
      </div>
      <div class="team__center__img">
        <img src="~/assets/img/aboutus/team__center.png" alt="" />
      </div>
      <div class="team__right">
        <span class="button button__xs xzc" id="#chairman">chairman</span>
        <span class="button button__xs" id="#proxy">proxy</span>
        <span class="button button__xs" id="#copywriter">copywriter</span>
        <span class="button button__xs" id="#graphic"
          ><p>graphic</p>
          designer</span
        >
        <span class="button button__xs" id="#graphic2"
          ><p>graphic</p>
          designer</span
        >
      </div>
    </div>
    <Barrow />
  </div>
</template>

<script>
import Header from "../components/Header";
import Barrow from "../components/barrow.vue";
export default {
  components: {
    Header,
    Barrow,
  },
  mounted() {
    gsap.from(".anime__div", {
      height: "100vh",
      ease: "Power2.ease",
      delay: 0.5,
      duration: 1,
    });

    gsap.from(".team", {
      y: 300,
      opacity: 0,
      ease: "back",
      duration: 2,
      scrollTrigger: {
        trigger: "main",
        toggleActions: "play none none none",
        start: "top bottom",
        end: "+=1300",
      },
    });
    //parallax
    if ($(window).width() >= 768) {
      gsap.to(".parallax-bg", {
        scrollTrigger: {
          scrub: true,
        },
        y: (i, target) =>
          -ScrollTrigger.maxScroll(window) * target.dataset.speed,
        ease: "none",
      });
    }

    $(".button").click(function () {
      $(".button").removeClass("orange__color");
      $(this).addClass("orange__color");
    });

    var $page = $(".page");
    const $button = $(".button");
    if ($(window).width() <= 768) {
      gsap.set("#chairman", { autoAlpha: 1, xPercent: 0 });

      $button.on("click", function (e) {
        gsap.set("#chairman", { autoAlpha: 0, xPercent: 100 });
        var $thisPage = $(this).attr("id");
        console.log($thisPage);

        gsap.to($thisPage, 1, {
          xPercent: 0,
          autoAlpha: 1,
          delay: 0.5,
          ease: Sine.easeInOut,
        });
      });
    } else {
      gsap.set("#chairman", { autoAlpha: 1, xPercent: 50 });
      $button.on("click", function (e) {
        gsap.set("#chairman", { autoAlpha: 0, xPercent: 100 });
        var $thisPage = $(this).attr("id");
        console.log($thisPage);

        gsap.to($thisPage, 1, {
          xPercent: 50,
          autoAlpha: 1,
          delay: 0.5,
          ease: Sine.easeInOut,
        });
      });
    }
    $button.on("click", function (e) {
      gsap.to($page, 0.5, {
        xPercent: 100,
        autoAlpha: 0,
        ease: Power2.easeIn,
      });
    });
    // team animation on hover
    $(document).ready(() => {
      document.getElementById("#chairman").click();
    });
  },

  methods: {},
};
</script>

<style lang="scss" scoped>
@import "~/assets/styles/fonts";
@import "~/assets/styles/variables";

body {
  color: #fff;
  background: #fff;
  overflow: hidden;
  max-width: 100vw;
}

.page {
  visibility: hidden;
  position: absolute;
  top: 0px;
  img {
    width: 50%;
    margin-left: 10%;
  }
}
.team__description {
  margin-top: 20px;
  font-family: $bc;
  font-size: 18px;
  width: 20%;
  line-height: 25px;
  text-align: center;
  font-weight: 200;
  span:nth-of-type(1) {
    font-size: 37px;
    color: $light;
    line-height: 50px;
    font-weight: 600;
  }
  .about__tema__desc {
    display: inline-block;
    margin-top: 15px;
  }
}

#aboutus__wrapper {
  overflow: hidden;
  min-height: 100vh;
  background-attachment: fixed;
  width: 100vw;
}
nav {
  position: fixed;
  top: 0px;
  width: 100vw;
  z-index: 2000;
  max-width: 100vw;
}
main {
  margin: 0 auto;
  margin-top: 150px;
  max-width: 1200px;
}
.anime__div {
  background: #ff732e;
}
.header__wrapper {
  padding: 10px 85px;
  background: #ff732e;
}
@media (max-width: $breakpoint-xs) {
  #aboutus__wrapper {
    margin-bottom: 20px;
  }
  main {
    margin-top: 130px;
  }
  .header__wrapper {
    padding: 0px 25px;
  }
  .page {
    top: 0px;
    img {
      margin-left: 10%;
    }
  }
  .team__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -50px;
    font-size: 18px;
    width: 50%;
    line-height: 20px;
    text-align: center;
    font-weight: 200;
    span:nth-of-type(1) {
      font-size: 27px;
      line-height: 30px;
    }
    .about__tema__desc {
      display: inline-block;
      margin-top: 15px;
    }
  }
}

section {
  font-family: "BC-sklonar", sans-serif;
  font-weight: 200;
  width: 70%;
  margin: 50px auto;
  font-size: 26px;
}
.header__section {
  font-size: 48px;
  font-weight: bold;
  color: #3c2057;
  line-height: 60px;
}
.crayons {
  left: 0px;
  top: 450px;
  z-index: -1;
  position: absolute;
}
.notebook {
  left: calc(100% - 480px);
  top: 200px;
  z-index: -1;
  position: absolute;
}
.team {
  z-index: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  margin-top: -80px;
  margin-bottom: 200px;
}
.team__center__img {
  position: relative;
  align-self: center;
  margin-left: 25%;
}
.team__right {
  margin: 0 85px;
  font-family: "BC-sklonar", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  color: #302639;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  span {
    display: block;
  }
}
.button {
  font-weight: bold;
}
.button:hover {
  color: $orange;
}
.orange__color {
  color: $orange;
}
@media (max-width: $breakpoint-sm) {
  .header__section,
  .section__2 {
    margin-left: 50px;
  }
}
@media (max-width: $breakpoint-xs) {
  section {
    font-size: 12px;
    margin: 20px 0;
  }
  .header__section {
    font-size: 16px;
    line-height: 18px;
    margin-left: 25px;
  }
  .section__2 {
    margin-left: 25px;
  }
  .team {
    flex-direction: column;
    margin-bottom: 20px;
  }
  .crayons {
    width: 200px;
    top: 400px;
    left: -30px;
  }
  .notebook {
    position: absolute;
    width: 200px;
    top: 200px;
    left: 85%;
    display: none;
  }
  .section__3,
  .section__4,
  .section__5 {
    margin-left: 80px;
  }
  .team {
    flex-direction: column;
    margin-top: 70px;
    margin-bottom: 80px;
  }
  .team__img .team__description img {
    width: 50%;
    margin: 30% 0 0 0;
  }
  .team__center__img {
    width: 100%;
    margin: 0;
    img {
      width: 45%;
      margin-left: 45%;
    }
    img:nth-child(2) {
      width: 15%;
    }
  }
  .team__right {
    width: 90%;
    max-width: 330px;
    align-self: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    font-size: 20px;
    margin: 0;
    margin-left: 0;
    line-height: 20px;
    span {
      margin-top: 20px;
      font-weight: 600;
    }
  }
}
</style>