<template>
  <div class="branding__wrapper">
    <nav>
      <Header><template v-slot:header__name>branding</template></Header>
    </nav>
    <header>We’ll make your brand unique and recognizable.</header>
    <main>
      <div class="card" @click="showContent">
        <div class="card__header">Logotypes</div>
        <div class="card__content" :class="[{ hide__content: menuClosed }]">
          <div class="icon">
            <img src="~/assets/img/branding/logotype.svg" alt="" />
          </div>
          <div class="content">
            <span
              >The distinguishable logotype is the key branding element. <br />
              Don't have any idea? No problem!
            </span>
            <span
              >We will create a modern and unique logotype just for you. It will
              proudly represent your vision and be an inseparable part of your
              brand.</span
            >
          </div>
          <div class="show__content__btn" v-if="menuClosed">
            <img src="~/assets/img/scroll__top.svg" alt="" />
          </div>
        </div>
      </div>
      <div class="card" @click="showContent2">
        <div class="card__header">
          Visual <br />
          identification
        </div>
        <div class="card__content" :class="{ hide__content: menuClosed2 }">
          <div class="icon">
            <img src="~/assets/img/branding/visual.svg" alt="" />
          </div>
          <div class="content">
            The perfect logo is just the beginning
            <br />
            <span>
              With our support, you'll gather the original visual background. We
              will choose fitting and catchy colors, and a personalized package
              of fonts, graphics, and layouts, which will highlight your
              presence in the marketing landscape.
            </span>
            <span
              >. We will make you recognizable. We'll take care of everything,
              from branding, through office and marketing materials, to email
              footers.</span
            >
          </div>
          <div class="show__content__btn" v-if="menuClosed2">
            <img src="~/assets/img/scroll__top.svg" alt="" />
          </div>
        </div>
      </div>
    </main>
    <nuxt-link to="/marketing">
      <div class="check__more">
        <img src="~/assets/img/marketing/check__more.svg" alt="" />
        <span
          ><p>check</p>
          more</span
        >
      </div>
    </nuxt-link>
    <Barrow />
  </div>
</template>
<script>
import Header from "../components/Header";
import Barrow from "../components/barrow.vue";
export default {
  components: {
    Header,
    Barrow,
  },
  data() {
    return {
      menuClosed: true,
      menuClosed2: true,
    };
  },
  mounted() {
    $(window).ready(() => {
      this.animations();
    });
  },
  methods: {
    showContent() {
      this.menuClosed = !this.menuClosed;
      this.menuClosed2 = true;
    },
    showContent2() {
      this.menuClosed2 = !this.menuClosed2;
      this.menuClosed = true;
    },
    animations() {
      gsap.from("header", {
        y: "100px",
        opacity: 0,
        duration: 1,
        ease: "Power2.easein",
      });
      gsap.from(".card:nth-of-type(1) ", {
        x: "100px",
        opacity: 0,
        duration: 1,
        delay: 0.1,
        ease: "Power2.easein",
      });
      gsap.from(".card:nth-of-type(2) ", {
        x: "-100px",
        opacity: 0,
        duration: 1,
        delay: 0.1,
        ease: "Power2.easein",
      });
      gsap.from(".check__more ", {
        y: "100px",
        opacity: 0,
        duration: 1,
        delay: 0.1,
        ease: "Power2.easein",
      });
    },
  },
};
</script>
<style lang="scss" scoped>
@import "~/assets/styles/variables";
@import "~/assets/styles/fonts";
header,
main,
section {
  position: relative;
  z-index: 0;
  padding: $wrapper-padding;
}
.header__name {
  display: none;
}
.branding__wrapper {
  overflow: hidden;
  min-height: 100vh;
  font-family: $bc;
  background: #fff;
  a {
    text-decoration: none;
  }
}
nav {
  background: transparent linear-gradient(180deg, #3c2057 0%, #643e85 100%) 0%
    0% no-repeat padding-box;
  padding: $wrapper-padding;
  position: fixed;
  z-index: 2;
  width: 100%;
}
header {
  font-size: 26px;
  line-height: 28px;
  color: $light;
  text-align: center;
  margin: 150px 0 75px 0;
}
.card {
  display: flex;
  align-items: center;
  margin: 20px 0;
  border: 2px solid $light;
  padding: 5px;
  overflow: hidden;
  &__header {
    font-size: 56px;
    color: $bright;
    text-transform: uppercase;
    font-weight: bold;
    padding: 25px;
    min-width: 330px;
  }
  .icon {
    margin-left: -20px;
    margin-right: 20px;
    img {
      opacity: 0.5;
    }
  }
  &__content {
    display: flex;
    align-items: center;
    background: $bright;
    padding: 30px 0;
    color: #fff;
    font-size: 14px;
    font-weight: 200;
    line-height: 18px;
    padding-right: 100px;
    span {
      display: inline-block;
      margin-bottom: 20px;
    }
  }
}
.show__content__btn {
  display: none;
}
.card:nth-child(even) {
  flex-direction: row-reverse;
  border: 2px solid $bright;
  .card__header {
    color: $light;
    min-width: 470px;
  }
  .card__content {
    background: $light;
    padding-right: 20px;
    span {
      display: inline-block;
    }
    span:nth-of-type(2) {
      display: inline-block;
      margin-bottom: 0;
    }
  }
}
.check__more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  cursor: url("~assets/img/cursor.png") 40 20, auto;
  span {
    margin-left: 10px;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    color: $bright;
    font-weight: 300;
  }
}
.barrow__wrapper {
  background: transparent linear-gradient(180deg, #643e85 0%, #3c2057 100%) 0%
    0% no-repeat padding-box;
}
@media (max-width: $breakpoint-xs) {
  @import "~/assets/styles/offers__xs";
  .card:nth-of-type(1) {
    .hide__content {
      .content {
        margin-top: 140px;
      }
      &::after {
        content: "The distinguishable logotype is the key branding element.";
      }
    }
  }
  .card:nth-of-type(2) {
    .hide__content {
      .content {
        position: relative;
        margin-top: 230px;
      }
      &::after {
        content: "The perfect logo is just the beginning.";
      }
    }
    .icon {
      img {
        margin-top: 10px;
      }
    }
  }
}
@media (max-width: 330px) {
  .card:nth-child(even) {
    .card__header {
      font-size: 20px !important;
    }
  }
}
</style>