<template>
  <div class="marketing__wrapper">
    <nav>
      <Header><template v-slot:header__name>marketing</template></Header>
    </nav>
    <header>We will build your company's image from the basics.</header>
    <section>
      <div class="txt">
        <p>
          <span>Cooperation is the key to success.</span> <br />
         We are listening to our customers and all of their needs.
        </p>
       Every suggestion you’ll make will be included in the project.  <br />
       Everything is based on an exemplary way of communication.</span>
      </div>
      <img src="~/assets/img/marketing/header__img.svg" alt="" />
    </section>
    <main>
      <div class="card" @click="showContent">
        <div class="card__header">Content marketing</div>
        <div class="card__content" :class="[{ hide__content: menuClosed }]">
          <div class="icon">
            <img src="~/assets/img/marketing/content.svg" alt="" />
          </div>
          <div class="content">
            <span
              >The modern vision of marketing opens the ways that were unavailable before. </span
            >
            <br />
            We are using innovative tools like journalism and digital content that outruns traditional marketing. With them, we will put your product on the lead in a race for a client's attention.
          </div>
          <div class="show__content__btn" v-if="menuClosed">
            <img src="~/assets/img/scroll__top.svg" alt="" />
          </div>
        </div>
      </div>
      <div class="card" @click="showContent2">
        <div class="card__header">
          Digital <br />
          & social media
        </div>
        <div class="card__content" :class="[{ hide__content: menuClosed2 }]">
          <div class="icon">
            <img src="~/assets/img/marketing/digital.svg" alt="" />
          </div>
          <div class="content">
            <span
              >The Internet is the most important source of communication today. </span
            >
            <br />
            With our excellent knowledge of web portals and community channels, we will lead your product into the minds of social media users. From Facebook, through Instagram, to YouTube. We will prepare attractive graphics for your posts, cover photos, and banners. All by your personal order. 
            <span
              >Everything you need to highlight your brand on social media is in our range.</span
            >
          </div>
          <div class="show__content__btn" v-if="menuClosed2">
            <img src="~/assets/img/scroll__top.svg" alt="" />
          </div>
        </div>
      </div>
      <div class="card" @click="showContent3">
        <div class="card__header">Print</div>
        <div class="card__content" :class="[{ hide__content: menuClosed3 }]">
          <div class="icon">
            <img src="~/assets/img/marketing/print.svg" alt="" />
          </div>
          <div class="content">
            <p>
              Traditional tools of marketing are still present on the market.
            </p>
          We will design attractive and aesthetic materials like leaflets, pamphlets, posters, and also cover for your books, manuals, catalogs, CDs/DVDs, or e-books. We can also prepare exclusive merchandise like t-shirts, caps mugs, pens, etc. 
Everything ready to print. If you're looking for souvenirs for your customers or branded gadgets that emphasize your office's identity, we are here for you.

          </div>
          <div class="show__content__btn" v-if="menuClosed3">
            <img src="~/assets/img/scroll__top.svg" alt="" />
          </div>
        </div>
      </div>
    </main>
    <nuxt-link to="webdesign">
      <div class="check__more">
        <img src="~/assets/img/marketing/check__more.svg" alt="" />
        <span
          ><p>check</p>
          more</span
        >
      </div>
    </nuxt-link>
    <Barrow />
  </div>
</template>

<script>
import Header from "../components/Header";
import Barrow from "../components/barrow.vue";
export default {
  components: {
    Header,
    Barrow,
  },
  data() {
    return {
      menuClosed: true,
      menuClosed2: true,
      menuClosed3: true,
    };
  },
  methods: {
    showContent() {
      this.menuClosed = !this.menuClosed;
      this.menuClosed2 = true;
      this.menuClosed3 = true;
    },
    showContent2() {
      this.menuClosed2 = !this.menuClosed2;
      this.menuClosed = true;
      this.menuClosed3 = true;
    },
    showContent3() {
      this.menuClosed3 = !this.menuClosed3;
      this.menuClosed = true;
      this.menuClosed2 = true;
    },
  },
  mounted() {
    gsap.from("header", {
      y: "100px",
      opacity: 0,
      duration: 1,
      delay: 0.5,
      ease: "Power2.easein",
    });
    gsap.from(".txt ", {
      x: "-100px",
      opacity: 0,
      duration: 1,
      delay: 0.5,
      ease: "Power2.easein",
    });
    gsap.from("section img ", {
      x: "100px",
      opacity: 0,
      duration: 1,
      delay: 0.5,
      ease: "Power2.easein",
    });

    gsap.from(".card:nth-of-type(1) ", {
      x: "100px",
      opacity: 0,
      duration: 1,
      delay: 0.5,
      ease: "Power2.easein",
    });
    gsap.from(".card:nth-of-type(2) ", {
      x: "-100px",
      opacity: 0,
      duration: 1,
      delay: 0.5,
      ease: "Power2.easein",
    });
    gsap.from(".card:nth-of-type(3) ", {
      x: "-100px",
      opacity: 0,
      duration: 1,
      delay: 0.5,
      ease: "Power2.easein",
    });
  },
};
</script>
<style lang="scss" scoped>
@import "~/assets/styles/variables";
@import "~/assets/styles/fonts";
header,
main,
section {
  padding: $wrapper-padding;
  position: relative;
  z-index: 0;
}
.marketing__wrapper {
  position: relative;
  overflow: hidden;
  min-height: 100vh;
  background: #fff;
  font-family: $bc;
  z-index: 0;
  a {
    text-decoration: none;
  }
}
nav {
  width: 100%;
  background: transparent linear-gradient(180deg, #3c2057 0%, #643e85 100%) 0%
    0% no-repeat padding-box;
  padding: $wrapper-padding;
  position: fixed;
  z-index: 2;
}
header {
  font-size: 26px;
  line-height: 28px;
  color: $light;
  text-align: center;
  margin: 150px 0 50px 0;
}
section {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  line-height: 30px;
  color: $dark;
  font-weight: 200;
  span {
    font-weight: 600;
  }
  p {
    margin-bottom: 30px;
  }
  img {
    margin-right: -90px;
  }
}
.card {
  display: flex;
  align-items: center;
  margin: 20px 0;
  border: 2px solid $light;
  padding: 5px;
  &__header {
    font-size: 56px;
    color: $bright;
    text-transform: uppercase;
    font-weight: bold;
    padding: 25px;
  }
  .icon {
    margin-left: -20px;
    margin-right: 20px;
  }
  &__content {
    display: flex;
    align-items: center;
    background: $bright;
    padding: 30px 0;
    color: #fff;
    font-size: 14px;
    font-weight: 200;
    line-height: 18px;
    padding-right: 100px;
    span {
      display: inline-block;
      margin-bottom: 20px;
    }
  }
}
.card:nth-child(even) {
  flex-direction: row-reverse;
  border: 2px solid $bright;
  .card__header {
    color: $light;
    padding: 0;
    margin: 0px 25px;
    min-width: 250px;
  }
  .card__content {
    background: $light;
    span {
      display: inline-block;
      margin-bottom: 20px;
    }
    span:nth-of-type(2) {
      display: inline-block;
      margin-top: 20px;
    }
  }
}
.check__more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px auto;
  cursor: url("~assets/img/cursor.png") 40 20, auto;
  span {
    margin-left: 10px;
    text-transform: uppercase;
    text-align: center;
    line-height: 20px;
    color: $bright;
    font-weight: 300;
  }
}
.barrow__wrapper {
  background: transparent linear-gradient(180deg, #643e85 0%, #3c2057 100%) 0%
    0% no-repeat padding-box;
}
.show__content__btn {
  display: none;
}
@media (max-width: $breakpoint-xs) {
  @import "~/assets/styles/offers__xs";
  @import "~/assets/styles/marketing__xs";
}
@media (max-width: 330px) {
  .card {
    &__header {
      padding: 30px 40px 0 10px;
    }
  }
}
</style>